/* Login Form Styling */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Landing Page Styling */
.landing-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  border: 4px solid white;
  padding: 20px;
}

.smile {
  width: 550px;
  height: 800px;
}

.inner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  color: black;
}

.login {
  color: black;
}

.header-box {
  color: white !important;
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: center;
}
